h1{
    color:gold
}
H1{
    BACKGROUND-COLOR:black;
}
BODY{
    background-color: rgb(255, 217, 0);
    color: black;
}
h2{
    background-color: black;
    color: gold;
}
head{
    background-color:gold;
    color:white
}

h3{
    background-color: antiquewhite;
    color: red;
}